<div id="<%= dom_id issue %>" class="mb-6 border-2 border-black rounded-md p-3">
    <div class="mb-6">
        <label for="title-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
        <span id="title-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= issue.title %></span>
    </div>

    <div class="mb-6">
        <label for="description-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
        <span id="description-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= sanitize(issue.description) %></span>
    </div>

    <div class="mb-6">
        <label for="priority-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Priority</label>
        <span id="priority-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= issue.priority %></span>
    </div>

    <div class="border-t border-gray-300 my-3"></div> <!-- Divider line -->

    <div class="mb-6">
        <label for="assignee-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Assignee</label>
        <span id="assignee-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= issue.assignee %></span>
    </div>

    <div class="mb-6">
        <label for="status-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
        <span id="status-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= issue.status %></span>
    </div>

    <div class="mb-6">
        <label for="created-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Created</label>
        <span id="created-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= issue.created_at %></span>
    </div>
</div>

