<div id="<%= dom_id issue %>">
  <p>
    <strong>Title:</strong>
    <%= issue.title %>
  </p>

  <p>
    Created <%= time_tag issue.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Assignee:</strong>
    <%= issue.assignee %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

</div>
